$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-fighter-jet: "\f0fb";
$icon-bitcoin: "\f15a";
$icon-btc: "\f15a";
$icon-space-shuttle: "\f197";
$icon-star: "\e901";

