:root{
  font-size: 62.5%;
  --body-ff: "Black Ops One";
  --Titles-ff: "Turret Road";
  --header-bgc: linear-gradient(#f2ffe6, #fff);
  --header-color: #336600;
  --title1-fs: 5rem;
  --title2-fs: 4rem;
  --title3-fs: 2rem;
  --body-fs: 1.8rem;
  --body-color: #f2ffe6;
  --orange : #ff6600;
}