.selectForm {
  margin: 1rem;
  & .selectInput {
    width: 20rem;
    height: 3rem;
    border: 2px solid transparent;
    border-right: none;
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--body-color);
    font-family: var(--body-ff);
    padding: .5rem;
    &:hover {
      border: 2px solid var(--orange);
      border-right: none;
    }
    &:focus {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 2px ridge var(--orange);
    }
  }
  & .selectSubmit {
    border: 3px ridge var(--orange);
    height: 3rem;
    border-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: var(--body-color);
    font-family: var(--body-ff);
    padding: .5rem;
    color: var(--header-color);
    transition: all .5s;
    &:hover {
      color: var(--header-bgc);
      background-color: var(--header-color);
    }
  }
}