.card {
  border: 1px dashed var(--orange);
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: 1rem auto;
  background-color: var(--body-color);
  color: var(--header-color);
  padding: 1rem;
  & .blocDetail{
    display: flex;
    position: relative;
  }
  & h3 {
    font-size: var(--title3-fs);
    transition: all .7s;
  }
  & img {
    width: 50%;
    height: 30rem;
    object-fit: cover;
    border-radius: 50%;
    top: 0;
    margin: 0 auto;
    transition: all .7s;
    transform-origin: center;
    &:hover {
      transform: scale(1.7);
      width: 100%;
      border-radius: 5%;
      object-fit: contain;
      transition: all .7s;
      z-index: 1;
      & + .stats {
        z-index: 2;
        color: white;
        transition: all .7s;
        float: right;
        border: 1px dashed var(--orange);
        width: 100%;
        padding: 1rem;
        background-color: var(--header-color);
        position: absolute;
        top: -50px;
        right: -300px;
      }
    }
  }
  & .stats {
    padding: .5rem;
    max-height: 30rem;
    overflow: scroll;
    display: flex;
    transition: all .7s;
    width: 100%;
    &::-webkit-scrollbar {
      width: 2px;
    }
  }
  & li {
    margin: 0 auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 770px){
  .card {
    width: 100%;
  }
}