@use "src/Styles/variables.scss";

.container {
  background-color: var(--header-bgc);
  margin: 1rem;
  & .leftWing,
  .rightWing {
    max-width: 10%;
  }
  & .bloclogo{
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: 100%;
    }
  }
  & ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: .5rem;
    & a {
      padding: .5rem 2rem;
    }

    & a:hover {
      background-color: var(--header-color);
      border: 1px solid var(--body-color);
      color: var(--header-bgc);
    }
    & .custom {
      padding: 1rem;
      background-color: var(--header-color);
      border: 1px solid var(--body-color);
      color: var(--orange);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      & button {
        width: 50%;
        border: 1px solid crimson;
        border-radius: .5rem;
        color: var(--header-color);
        background-color: var(--body-color);
        &:hover {
          background-color: var(--header-color);
          color: var(--orange);
        }
      }
    }
  }
}
@media screen and (max-width: 770px){
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    & .bloclogo {
      width: 50%;
    }
    & img {
      padding: 2rem;
      max-width: 60%;
    }
    & ul {
      display: block;
      width: 50%;
      margin: 0 auto;
      & li {
        margin: 2rem auto;
      }
    }
    .displayNone{
      display: none;
    }
  }
}
@media screen and (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .bloclogo {
      margin: 0 auto;
      & img {
        max-width: 100%;
      }
    }
    & ul {
      display: flex;
      flex-direction: column;
    }
    & button {
      margin: .5rem;
      background-color: var(--header-color);
      color: var(--orange);
      border: 1px solid var(--orange);
      border-radius: 1rem;
    }
  }

}
